@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background: url(/src/assets/bg.png);
    background-size: cover;
  }

  * {
    @apply m-0 p-0 outline-none box-border;
  }

  a {
    @apply no-underline;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  li,
  div {
    @apply m-0 p-0;
  }

  ul,
  li,
  ol {
    @apply list-none;
  }

  img {
    @apply align-middle;
  }
}

@layer components {
  .headingSpan {
    background: linear-gradient(
      to right,
      #33bbcf 0%,
      #5ce1e6 20%,
      #7de7eb 67%,
      #9dedf0 86%,
      #bef3f5 87%,
      #def9fa 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .useerTitle {
    background-image: radial-gradient(
      circle,
      #33bbcf,
      #43c3d4,
      #52cbd9,
      #5fd4df,
      #6cdce4,
      #7ce1e8,
      #8be7eb,
      #99ecef,
      #aceff2,
      #bdf3f5,
      #cef6f7,
      #def9fa
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .about .card {
    transition: all linear 0.1s;
    -webkit-transition: all linear 0.1s;
    -moz-transition: all linear 0.1s;
    -ms-transition: all linear 0.1s;
    -o-transition: all linear 0.1s;
  }
  .about .card:hover {
    background-color: #ffffff15;
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
  }

  .footer ul .li {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 20px;
  }

  .footer ul li a {
    color: #ffffff52;
    font-size: 12px;
    display: inline-block;
    padding-bottom: 10px;
  }

  .footer ul li a:hover {
    color: #fff;
    text-decoration: underline;
  }

  /* ======================= Media Query =========================*/

  @media (max-width: 768px) {
    .getStarted {
      display: none;
    }
    .user .active {
      flex-direction: column;
    }
    .user .company {
      flex-direction: column;
    }
    .user .Transaction {
      flex-direction: column;
    }
  }

  @media (max-width: 650px) {
    .nav .menu {
      position: absolute;
      z-index: 1;
    }
    .container {
      padding: 0 20px;
    }

    .list {
      display: none;
    }
  }

  @media (max-width: 550px) {
    .line {
      display: none;
      flex-direction: column;
    }
  }

  @media (max-width: 500px) {
    .footer .footer-bottom {
      display: flex;
      flex-direction: column;
    }
  }

  @media (max-width: 450px) {
    .download {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
    }
  }

  @media (min-width: 410px) {
    .footer .list {
      flex-direction: row;
      column-gap: 40px;
    }
    .second-list {
      column-gap: 40px;
    }
  }

  @media (min-width: 450px) {
    .company-logo {
      display: flex;
      column-gap: 40px;
    }

    .footer .list {
      column-gap: 70px;
    }
    .second-list {
      column-gap: 70px;
    }

    .download {
      display: flex;
      align-items: center;
      column-gap: 30px;
    }

    .owner .all-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  @media (min-width: 550px) {
    .discount img {
      width: 40px;
    }

    .discount p {
      font-size: 15px;
    }

    .hero h1 {
      font-size: 48px;
      line-height: 60px;
    }

    .hero .hero-des {
      font-size: 14px;
      line-height: 25px;
    }

    .hero .right .card1 {
      top: 200px;
    }
    .hero .right .card2 {
      top: 295px;
    }
    .hero .right .card3 {
      top: 268px;
    }

    .hero .hand {
      display: none;
    }

    .feature {
      padding-top: 300px;
    }

    .feature h3 {
      font-size: 40px;
      line-height: 50px;
    }

    .feature p {
      font-size: 14px;
    }

    .feature h5 {
      font-size: 20px;
    }

    .reward-title {
      font-size: 16px;
    }

    .bill h4 {
      font-size: 40px;
    }

    .bill p {
      font-size: 14px;
    }

    .deal h4 {
      font-size: 40px;
    }

    .deal p {
      font-size: 14px;
    }

    .about .about-title {
      font-size: 40px;
    }

    .about .about-des {
      font-size: 14px;
    }

    .service .service-title {
      font-size: 45px;
    }

    .service p {
      font-size: 16px;
    }

    .footer .logo img {
      width: 170px;
    }

    .footer .logo p {
      font-size: 15px;
    }

    .footer ul .li {
      font-size: 18px;
    }

    .footer ul li a {
      font-size: 16px;
    }
    .footer .list {
      column-gap: 100px;
    }

    .footer-bottom p {
      font-size: 14px;
    }
    .second-list {
      column-gap: 110px;
    }

    .inslight {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  @media (min-width: 600px) {
    .owner {
      display: flex;
      align-items: center;
      column-gap: 20px;
    }

    .owner .card {
      padding-left: 12px;
      padding-right: 12px;
    }

    .footer-bottom {
      display: flex;
    }
  }

  @media (min-width: 650px) {
    .nav .menu {
      display: none;
    }
    .toogleMenu {
      display: none;
    }
  }

  @media (min-width: 700px) {
    .footer .list {
      column-gap: 170px;
    }
    .second-list {
      column-gap: 170px;
    }
  }

  @media (min-width: 768px) {
    .user .active {
      column-gap: 15px;
    }
    .user .company {
      column-gap: 15px;
    }
    .user .Transaction {
      column-gap: 15px;
    }

    .hero-heading {
      display: flex;
    }

    .getStarted2 {
      display: none;
    }

    .hero h1 {
      width: 500px;
      padding-top: 20px;
      padding-bottom: 30px;
    }

    .all-card {
      display: none;
    }

    .hero-des {
      width: 600px;
    }

    .feature {
      padding-top: 0;
    }

    .feature-wraper {
      column-gap: 43px;
      display: flex;
      align-items: center;
    }

    .feature-wraper .left h3 {
      font-size: 35px;
      width: 423px;
    }

    .feature-wraper .left p {
      font-size: 12px;
      width: 375px;
    }

    .billing-wraper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .billing-wraper h4 {
      width: 388px;
      line-height: 60px;
      padding-bottom: 15px;
    }

    .billing-wraper p {
      width: 378px;
    }

    .deal-wraper {
      padding-top: 70px;

      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .deal-wraper h4 {
      width: 443px;
      font-size: 35px;
      line-height: 60px;
    }
    .deal-wraper p {
      width: 380px;
    }

    .about-title-wraper {
      display: flex;
      align-items: center;
      column-gap: 129px;
      justify-content: space-between;
    }

    .about-title-wraper .about-title {
      line-height: 60px;
      width: 1211px;
      font-size: 35px;
    }

    .about-title-wraper p {
      line-height: 25px;
      padding: 0 0px;
      width: 1375px;
    }

    .service-wraper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .service-wraper .service-title {
      font-size: 35px;
    }

    .footer .list {
      column-gap: 230px;
    }

    .second-list {
      column-gap: 230px;
    }
  }

  @media (min-width: 1024px) {
    .discount {
      width: 422px;
    }
    .discount p {
      font-size: 18px;
    }
    .hero-wraper {
      position: relative;
      display: flex;
    }

    .hero .hand {
      display: block;
      position: absolute;
      right: 0px;
      top: 159px;
    }

    .hero-wraper .right .card1 {
      left: auto;
    }
    .hero-wraper .right .card2 {
      left: auto;
    }
    .hero-wraper .right .card3 {
      left: auto;
    }

    .hero .left h1 {
      width: 647px;
      font-size: 72px;
      line-height: 100px;
      font-weight: 600;
    }

    .hero .left .hero-des {
      font-size: 18px;
      line-height: 30px;
      width: 484px;
    }

    .hero .right .all-card {
      display: block;
    }

    .hero .right .all-card .card1 {
      right: 0;
      position: relative;
      top: 0;
    }

    .hero .right .all-card .card2 {
      right: 0;
      top: 60px;
    }

    .hero .right .all-card .card3 {
      right: 0;
      top: 132px;
    }

    .hero-heading {
      position: relative;
    }

    .feature .left h3 {
      font-size: 48px;
      font-weight: 600;
      width: 100%;
      line-height: 60px;
    }

    .feature .left p {
      font-size: 18px;
      font-weight: 400;
      line-height: 185%;
      width: 542px;
    }

    .feature .right h5 {
      font-size: 18px;
      font-weight: 600;
    }

    .feature .right p {
      font-size: 16px;
      font-weight: 400;
      line-height: auto;
    }

    .inslight .user-heading {
      font-size: 40px;
    }

    .inslight p {
      font-size: 20px;
    }

    .getStarted {
      position: absolute;
      right: 45px;
      top: 0;
    }
    .billing-wraper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .billing-wraper h4 {
      width: 388px;
      line-height: 60px;
      padding-bottom: 15px;
    }

    .billing-wraper p {
      font-weight: 400;
      line-height: 160%;
      font-size: 18px;
      width: 500px;
    }

    .billing-wraper .bill-main-img {
      width: 600px;
    }

    .deal-wraper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .deal-wraper h4 {
      font-size: 48px;
      width: 555px;
      line-height: 160%;
    }

    .deal-wraper p {
      line-height: 170%;
      font-size: 18px;
      width: 445px;
    }

    .deal-wraper .dealimg {
      width: 442px;
    }

    .about-title-wraper {
      display: flex;
      align-items: center;
      column-gap: 129px;
      justify-content: space-between;
    }

    .about-title-wraper .about-title {
      font-size: 48px;
      line-height: 170%;
    }

    .about-title-wraper .about-des {
      font-size: 18px;
      line-height: 180%;
    }

    .owner .all-content {
      padding: 25px 50px;
      display: block;
      flex-direction: row;
      justify-content: center;
      align-items: start;
      text-align: start;
    }

    .about .all-company {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .about .all-company .company-logo:nth-child(1) {
      column-gap: 160px;
    }

    .about .all-company .company-logo:nth-child(2) {
      column-gap: 160px;
    }

    .company-logo .comapany-1stLogo {
      width: 140px;
    }

    .company-logo .comapany-2ndLogo {
      width: 140px;
      margin-top: 0;
    }

    .company-logo .comapany-3rdLogo {
      width: 140px;
    }

    .company-logo .comapany-4thLogo {
      width: 140px;
      margin-top: 0;
    }

    .service .service-title {
      font-size: 48px;
    }

    .footer .logo p {
      line-height: 32px;
      width: 312px;
      font-size: 18px;
    }

    .footer-wraper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .footer-wraper .list {
      column-gap: 140px;
    }

    .footer-wraper .second-list {
      column-gap: 140px;
    }

    .footer-wraper ul {
      width: 125px;
    }

    .footer-bottom .icon {
      display: flex;
      column-gap: 30px;
    }
  }

  @media (min-width: 1241px) {
    .about .all-company .company-logo:nth-child(1) {
      column-gap: 220px;
    }

    .about .all-company .company-logo:nth-child(2) {
      column-gap: 220px;
    }

    .footer-wraper .list {
      column-gap: 200px;
    }
    .footer-wraper .second-list {
      column-gap: 200px;
    }
  }

  /* ============================================================== */
}
