@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background: url(/src/assets/bg.png);
    background-size: cover;
  }

  * {
    @apply m-0 p-0 outline-none box-border;
  }

  a {
    @apply no-underline;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  li,
  div {
    @apply m-0 p-0;
  }

  ul,
  li,
  ol {
    @apply list-none;
  }

  img {
    @apply align-middle;
  }
}

@layer components {
  /* ======================= Media Query =========================*/

  .headingSpan {
    background: linear-gradient(
      to right,
      #33bbcf 0%,
      #5ce1e6 20%,
      #7de7eb 67%,
      #9dedf0 86%,
      #bef3f5 87%,
      #def9fa 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .useerTitle {
    background-image: radial-gradient(
      circle,
      #33bbcf,
      #43c3d4,
      #52cbd9,
      #5fd4df,
      #6cdce4,
      #7ce1e8,
      #8be7eb,
      #99ecef,
      #aceff2,
      #bdf3f5,
      #cef6f7,
      #def9fa
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .about .card {
    transition: all linear 0.1s;
    -webkit-transition: all linear 0.1s;
    -moz-transition: all linear 0.1s;
    -ms-transition: all linear 0.1s;
    -o-transition: all linear 0.1s;
  }
  .about .card:hover {
    background-color: #ffffff15;
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
  }

  @media (max-width: 650px) {
    .container {
      padding: 0 20px;
    }

    .list {
      display: none;
    }
  }

  /* ============================================================== */
}
